*{
  margin: 0;
  padding: 0;
}
html,body,#app{
  height: 100%;
  width: 100%;
  color: #333;
}
a{
  text-decoration: none;
  color: #333;
}
.title{
  font-size: 24px;
  color: #333;
}
.des{
  font-size: 22px;
  color: #666;
}
.default{
  font-size: 22px;
  color: #999;;
}
.menu{
  height: 100%;
}
.el-menu{
  width: 150px;
}
.el-submenu .el-menu-item{
  min-width: 150px !important;
}
.el-input__inner{
  height: 32px !important;
  line-height: 32px !important;
}
.contain{
  padding: 20px;
  height: 100%;
  overflow-y: scroll;
  box-sizing: border-box;
}
.flex-row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}
.search {
  padding: 20px;
  background: #f8f8f8;
  margin-bottom: 30px;
}
.search input{
  width: 200px;
}
.footer{
  margin: 30px 0;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}